<!-- <p>Main menu</p> -->
<div class="contacts">

    <!-- <li><a href="/contacts">View all contacts</a></li>
    <li><a href="/contacts/new">Add a new contact</a></li> -->
    <!-- please complete me with links to other actions -->
    <div class="contact_header">There are 5 contacts</div>
    <div class="contact_list">
      <p>Contact (example@example.com)</p>
      <a href="#">Edit</a>|<a href="#">Delete</a>
    </div>
    <div class="contact_list">
      <p>Contact (example@example.com)</p>
      <a href="#">Edit</a>|<a href="#">Delete</a>
    </div>
    <div class="contact_list">
      <p>Contact (example@example.com)</p>
      <a href="#">Edit</a>|<a href="#">Delete</a>
    </div>
    <div class="contact_list">
      <p>Contact (example@example.com)</p>
      <a href="#">Edit</a>|<a href="#">Delete</a>
    </div>
    <div class="contact_list">
      <p>Contact (example@example.com)</p>
      <a href="#">Edit</a>|<a href="#">Delete</a>
    </div>

</div>
