<!-- <h1><%= @crm_app_name %></h> -->
  <!-- <p> Main Menu </p>
  <ul class="home_nav">
    <li><a href="/contacts">View all contacts</a><li>
    <li><a href="/contacts/new">Add new contacts</a><li>
    <li><a href="/search_contact">Search for a contact</a><li>
    <li><a href="/delete_contact">Delete a contact</a><li>

  </ul> -->
<div class="background_img">



</div>
