<!-- <h1><%= @crm_app_name %></h> -->
  <!-- <p> Main Menu </p>
  <ul class="home_nav">
    <li><a href="/contacts">View all contacts</a><li>
    <li><a href="/contacts/new">Add new contacts</a><li>
    <li><a href="/search_contact">Search for a contact</a><li>
    <li><a href="/delete_contact">Delete a contact</a><li>

  </ul> -->
<div class="index_container">
  <img src="/assets/floating_phone-01.png" alt="">
  <div class="button_container">
    <a class="button" href="/contacts">
      VIEW ALL CONTACTS
    </a>
  </div>
</div>
