<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <body>

    <header class="main_header">
      <h1>CRM</h1>
    </header>

    <div class="home_get_started">
      <div class="get_started_bg">
        <span>Let's get started</span>
        <!-- <button type="button">VIEW ALL CONTACTS</button> -->
      </div>
    </div>

    <nav>
      <div class="nav_container">
        <a href="/">Home</a>
        <a href="/contacts/new">Add a contact</a>
        <a href="#">About</a>
      </div>
    </nav>

    <main>

      <%= yield %>
    </main>


    <footer>&copyBrian 2016</footer>

  </body>
</html>
