<div class="edit_contact_container">

<h2>Create New Contact</h2>

<ul class="form_input">
<form action='/contacts' method='post'>
  <input type='text' name='first_name'>
  <input type='text' name='last_name'>
  <input type='text' name='email'>
  <input type='text' name='note'>
  <input type='submit' value='NEW CONTACT'>
</form>
</ul>

</div>
