html {
  font-family: "Gotham", "helvetica", sans-serif;
}

h2 {
  font-size: 24px;
  color: #262626;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #262626;
  text-transform: uppercase;
}

body {
  margin: 0;
  background-color: #f2f2f2;
}

footer {
  color: white;
  font-size: 10px;
  text-align: center;
  background: #262626;
  width: 100%;
  position: fixed;
  padding-top: 8px;
  padding-bottom: 8px;
  bottom: 0;

}

nav {
  background-color: white;
}

nav a{
  display: inline-block;
  color: #262626;
  font-size: 14px;
  text-align: center;
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
}

.nav_container {
  position: relative;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: solid 1px #f2f2f2;
  box-shadow: 0 0 24px -2px #9c9c9c;
}

.home_get_started {
  height: 120px;
  background-color: black;
  text-align: center;
}

.home_get_started span{
  position: relative;
  font-size: 24px;
  color: white;
  top: 35%;
}

.get_started_bg {
  height: 120px;
  background-image: url(/assets/banner_mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_header h1{
  color: white;
  background-color: #161515;
  padding: 18px;
  text-align: center;
  margin: 0;
  font-size: 24px;
}

.home_nav li{
  text-align: center;
}

.contacts_container {
  max-width: 600px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 120px;
}

.contacts {
  color: #262626;
  padding-left: 0;
}

.contact_header {
  color: white;
  /*padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 12px;*/
}

.contact_list {
  display: block;
  background-color: white;
  font-size: 16px;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 8px;
  border: solid 1px #f8f8f8;
  margin-bottom: 12px;
  box-shadow: 0 2px 8px -2px #888787;
}

.contact_info {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 12px;
}

.contact_list p {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 6px;
}

.index_container {
  position: relative;
  display: block;
  width: 250px;
  margin: 0 auto;
  padding-top: 100px;

}

.index_container img {
  position: relative;
  display: block;
  width: 70px;
  margin: 0 auto;
}

.button_container {
}

.button {
  display: block;
  text-align: center;
  width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #262626;
  color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  position: relative;
  margin-top: 36px;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

.button:hover {
  background-color: #605e60;
}


/*Old Design*/

/*body {
  background-image: url(https://static.pexels.com/photos/4831/hands-coffee-smartphone-technology.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}*/

/*nav a{
  display: block;
  background-color: grey;
  color: white;
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
}*/
